append styles
//- block content

doctype
html( lang="en" )
  head
    title Marysia&Maciek
    link(href='http://fonts.googleapis.com/css?family=montserrat', rel='stylesheet', type='text/css')
    meta( charset='utf-8' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css", rel="stylesheet")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' )
    link(rel='stylesheet', href='public/stylesheets/style.css')
    
  body(style='padding:0;')
    .text-center
      .logo
        img(src='public/logo.svg', alt='M+M', width='400px')
      .main
        img(src='public/pocztowka.svg', alt='zaproszenie', width='800px')
      h2.prezenty
        a(href="/presents")
          | Tutaj znajdziesz parę rzeczy, które bardzo by nas ucieszyły ☺
      h3.space-around.mapa Ślub bierzemy tutaj:
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.107368807884!2d20.957774715371983!3d52.295905660565396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ec97ede6306ff%3A0xabc6e5fa564f5330!2sDewajtis+3%2C+Warszawa!5e0!3m2!1spl!2spl!4v1468354507716', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
