doctype
html( lang="en" )
  head
    title Marysia&Maciek
    link(href='http://fonts.googleapis.com/css?family=montserrat', rel='stylesheet', type='text/css')
    meta( charset='utf-8' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(rel='stylesheet', href='public/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css", rel="stylesheet")
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' )
    script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js' )
    
  body
    .container
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') Marysia i Maciek - prezenty
          ul.nav.navbar-nav.navbar-right
            if user
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  span= user.local.email
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/logout') Wyloguj się                  
            else
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Zaloguj się
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/login') Zaloguj się
                  li
                    a(href='/signup') Zarejestruj się
               
                //- li
                //-   a(href='#') Something else here
                //- li.divider(role='separator')
                //- li
                //-   a(href='#') Separated link



      block content
