extends layout
append styles
block content
  .wrapper
    if message
      alert.alert-danger= message
    form.form-signin(action="/login" method="post")
      h2.form-signin-heading Logowanie
      input.form-control(type='text', name='email', placeholder='Mail', required='', autofocus='')
      input.form-control(type='password', name='password', placeholder='Hasło', required='')
      label.checkbox
        input#rememberMe(type='checkbox', value='remember-me', name='rememberMe')
        |  Zapamiętaj mnie
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Zaloguj
    p Jeśli nie masz jeszcze konta 
      a(href='/signup') zarejestruj się
