extends layout
append styles
block content
  .panel.panel-default
    .panel-heading
      h3.panel-title
        | Propozycje prezentów
    .panel-body
      each image in images
        .col-md-4.text-center(style='padding-bottom: 1em;')
          .row
            h4 #{image.title}
          .row
            a(href="#{image.link}")
              img.img-thumbnail(src="/public/upload/#{image.filename}", alt="#{title}", style='width: 175px; height: 175px;')
          .row.text-center
            if isUser
              if image.taken
                form(method='post', action='/images/#{image.uniqueId}/untake', enctype='text/plain', value="true")
                  .form-horizontal
                    .form-group.text-center
                      if image._taken_by == user._id
                        input.btn.btn-success(type="submit" value="Odrezerwuj")
                      else
                        input.btn.btn-primary(disabled="disabled" type="submit" value="Zarezerwowane")
              else
                form(method='post', action='/images/#{image.uniqueId}/take', enctype='text/plain')
                  .form-horizontal
                    .form-group.text-center
                      input.btn.btn-primary(type="submit" value="Zarezerwuj")
            else
              form(method='post', action='/images/#{image.uniqueId}/take', enctype='text/plain')
                .form-horizontal
                  .form-group.text-center
                    if image.taken
                      input.btn.btn-primary(disabled="disabled" type="submit" value="Zarezerwowane")
                    else
                      input.btn.btn-primary(disabled="disabled" type="submit" value="Wolne")
            
            if isAdmin
              .col-centered
                .row
                  .col-md-6
                    form(method='post', action='/images/#{image.uniqueId}/delete', enctype='text/plain')
                      .form-horizontal
                        .form-group.text-center
                          input.btn.btn-xs.btn-warning.short-top(type="submit" value="Usuń")
                  .col-md-6     
                    button.btn.btn-info.btn-xs.short-top(type='button', data-toggle='modal', data-target='#myModal') Edytuj
                    #myModal.modal.fade(role='dialog')
                      .modal-dialog
                        .modal-content
                          .modal-header
                            button.close(type='button', data-dismiss='modal') ×
                            h4.modal-title Edycja prezentu
                          .modal-body
                            form(method='post', action='/images/#{image.uniqueId}/edit', enctype='multipart/form-data')
                              .panel-body.form-horizontal
                                .form-group.col-md-12
                                  label.col-sm-2.control-label(for='#edit-file') Wybierz obrazek:
                                  .col-md-10
                                    input#edit-file.form-control(type='file', name='file')
                                .form-group.col-md-12
                                  label.col-md-2.control-label(for='title') Tytuł:
                                  .col-md-10
                                    input.form-control(type='text', name='title')
                                .form-group.col-md-12
                                  label.col-md-2.control-label(for='link') Link do sklepu:
                                  .col-md-10
                                    textarea.form-control(name='link', rows='2')
                                .form-group.col-md-12
                                  .col-md-12.text-right
                                    button.btn.btn-success(type='submit')
                                      |  Zapisz zmiany
                          .modal-footer.form-group
                            button.btn.btn-default(type='submit', data-dismiss='modal') Anuluj


    //- Ten obszar ma być dostępny tylko dla właściciela
  if isAdmin
    .panel.panel-primary
      .panel-heading
        h3.panel-title
          | Dodaj prezent
      form(method='post', action='/images', enctype='multipart/form-data')
        .panel-body.form-horizontal
          .form-group.col-md-12
            label.col-sm-2.control-label(for='file') Wybierz obrazek:
            .col-md-10
              input#file.form-control(type='file', name='file')
          .form-group.col-md-12
            label.col-md-2.control-label(for='title') Tytuł:
            .col-md-10
              input.form-control(type='text', name='title')
          .form-group.col-md-12
            label.col-md-2.control-label(for='link') Link do sklepu:
            .col-md-10
              textarea.form-control(name='link', rows='2')
          .form-group.col-md-12
            .col-md-12.text-right
              button#login-btn.btn.btn-success(type='submit')
                i.fa.fa-cloud-upload
                |  Dodaj obrazek
