extends layout
append styles
block content
  .page-header.text-center
    h1
      span.fa.fa-anchor
      |  Profile Page
    a.btn.btn-default.btn-sm(href='/logout') Logout
  .row
    // LOCAL INFORMATION
    .col-sm-6
      .well
        h3
          span.fa.fa-user
          | Local
        p
          strong id
          |: 
          span= user._id
          br
          strong email
          |: 
          span= user.local.email
          br
          strong password
          |: 
          span= user.local.password
          
          //- TODO dodać dla admina listę użytkowników
