body {
  padding: 50px;
  font: 14px 'Montserrat', Helvetica, Arial, sans-serif;
	background: #eee !important;
}

a {
  color: #ff3c8f;
}

input[type="file"] {
   height: initial;
}

@import "bourbon";


.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}




@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body{
	font-family: 'montserrat', sans-serif;
	font-size: 100%;
	background:#f3f3f3;
}

h1,h2,h3,h4,h5,h6,p,span{
	margin: 0;
	padding: 0;
}

.header{
	min-height: 668px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
}
.logo {
	display: block;
	padding-top: 3em;
}

.main {
	display: block;
	margin-top: 1.5em;
	margin-bottom: 3em;
}

a {color: #ff3c8f;
	/*font-weight: 300;
	font-size: 16px;*/
}

a:hover {
	color: #d50078;
	/*font-weight: 300;
	font-size: 16px;*/
	text-decoration: none;
}

.prezenty{
	color: #ff3c8f;
	font-weight: 500;
	font-size: 21px;
}
.mapa{
	color: #ff3c8f;
	font-weight: 300;
	font-size: 21px;  
}

.header h1 {
	color: #ff3c8f;
	font-weight: 300;
	margin: 1em 0 1em;
	font-size: 16px;
}
.header h1 span {
	font-weight: 600;
}

.space-around {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
}

.short-top {
	margin-top: -13px;
}

.col-centered {
	/*float: none;*/
	margin: 0 auto;
	width:150px;
}